/*
    Código usado en maqueta_basica.html
*/
.p_footer{
    text-align: center;
    color: #999;
}
/*
    Código usado en GrydSystem.html
*/
.color1{
    background: #777;
}
.color2{
    background: #00aced;
}
.color3{
    background: #d1d1d1;
}
/*
    Código usado en GrydSystem2.html
*/
.text-center{
    text-align: center;
}